<main class="wrap">
  <section class="grid">
    <div class="card" style="grid-column:1 / -1;">
      <h2>Quản lý chi nhánh</h2>
      <p class="muted">
        Theo dõi, thêm mới và chỉnh sửa thông tin chi nhánh.
      </p>

      <div class="toolbar">
        <button type="button" class="btn" (click)="openCreateForm()">+ Thêm chi nhánh</button>
        <input type="text" class="input" name="search" placeholder="Tìm kiếm chi nhánh..."
               [(ngModel)]="searchTerm" (input)="filter()"/>
      </div>

      <table class="table">
        <colgroup>
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 15%;">
          <col style="width: 25%;">
          <col style="width: 15%;">
          <col style="width: 15%;">
          <col style="width: 10%;">
        </colgroup>
        <thead>
        <tr>
          <th>#</th>
          <th>Mã chi nhánh</th>
          <th>Tên chi nhánh</th>
          <th>Địa chỉ</th>
          <th>Ngày tạo</th>
          <th>Ngày cập nhật</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
          @for (c of filterData; track c.id; let i = $index) {
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ c.branchCode }}</td>
              <td>{{ c.branchName }}</td>
              <td>{{ c.address }}</td>
              <td>{{ c.createdAt | date : 'dd-MM-yyy H:mm' }}</td>
              <td>{{ c.updatedAt | date : 'dd-MM-yyy H:mm' }}</td>
              <td>
                <button class="btn small" (click)="edit(c)">Sửa</button>
                <button class="btn small danger" (click)="deleteBranch(c)">Xóa</button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="7" style="text-align:center; padding:20px; color:#666;">
                Không tìm thấy chi nhánh nào.
              </td>
            </tr>
          }
        </tbody>
        <tfoot>
        <tr>
          <td colspan="7">
            <div class="table-footer">
              <span class="count">
                Tổng số chi nhánh:
                <strong>{{ data.length }}</strong>
              </span>
            </div>
          </td>
        </tr>
        </tfoot>

      </table>
    </div>
  </section>

  @if (showForm) {
    <section class="modal-backdrop">
      <div class="modal">
        <h3>{{ editMode ? 'Cập nhật chi nhánh' : 'Thêm chi nhánh mới' }}</h3>
        <form (ngSubmit)="saveBranch()">
          <label>Tên chi nhánh <input class="input" [(ngModel)]="form.branchName" name="branchName" required/></label>
          <label>Địa chỉ <input class="input" [(ngModel)]="form.address" name="address" required/></label>

          <div class="form-actions">
            <button class="btn" type="submit">Lưu</button>
            <button class="btn" type="button" (click)="closeForm()">Hủy</button>
          </div>
        </form>
      </div>
    </section>
  }
</main>
